<html>
<head>
<style>
#t1
{
color:blue;
border:2px solid blue;
padding:5px;
font-size:20px;
background-color:lightyellow;
}</style>
</head>
<body ng-app="myApp">
<h1>filters in angular js</h1>
<hr>
<div ng-controller="SControllreer">
choose records:<select ng-model="count">
<option>5</option>
<option>10</option>
<option value=" ">all records<option>
</select>or
<input type="text" placeholder="enter the no of records" ng-model="count"><br><br>
<table  id="t1" border="2"><tr><th>Student Name</th>
<th>Student Course</th>
</tr>
<tr ng-repeat="item in Students | limitTo:count">
<td>{{item.sname}}</td>
<td>{{item.course}}</td>
</tr>
</table>
</div>

<script src="angular.js">
</script>
<script>
var obj=angular.module("myApp",[]);
obj.controller("SControllreer",function($scope)
{
$scope.count="";
//$scope.x="";
//$scope.y=false;
$scope.Students=[
{sname:"scatt",course:"html5"},
				{sname:"amit",course:"css3"},
				{sname:"rohit",course:"angular.js"},
				{sname:"scatt",course:"html5"},
				{sname:"amit",course:"css3"},
				{sname:"rohit",course:"angular.js"},
				{sname:"scatt",course:"html5"},
				{sname:"amit",course:"css3"},
				{sname:"rohit",course:"angular.js"},
				{sname:"scatt",course:"html5"},
				{sname:"amit",course:"css3"},
				{sname:"rohit",course:"angular.js"}];
});
</script></body>
</head>
</html>