<html>
<head>
</head>
<body ng-app="myApp" ng-controller="DemoController">
<h1>event in angular js</h1>
<hr>
<h2 style="color:{{str}}">{{message}}</h2>

User Id:<input ng-model="uid"><br><br>
Password:<input type="password" ng-model="pwd"><br><br>
<input id="b1" type="button" value="login" ng-click="login()">
<h2>{{message}}</h2>
<script src="angular.js">
</script>
<script>
var obj=angular.module("myApp",[]);
obj.controller("DemoController",function($scope)
{
$scope.uid="";
$scope.pwd="";
$scope.str="";
$scope.message="";
$scope.login=function()
{
if($scope.uid=="admin" && $scope.pwd=="admin123")
{
$scope.message="wel come";
$scope.str="green";
}
else
{
$scope.message="invailed user id and password";
$scope.str="red";
}
}
});


</script>
</body>
</html>